extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Donec bibendum ultricies velit vitae fringilla. Phasellus rutrum neque vel tortor bibendum bibendum. Nunc et ante dictum sem dapibus elementum. Nunc ornare, lectus vel malesuada blandit, turpis neque porttitor lorem, eu faucibus leo sem et urna. In in tempor ipsum.
                p Maecenas ac eleifend nisl. Etiam posuere blandit lorem ut venenatis. Aenean eget purus quis neque imperdiet imperdiet. Vestibulum eros urna, accumsan eget libero quis, imperdiet rutrum arcu. Donec eget porta nunc, ac pulvinar arcu. Fusce blandit odio non metus vulputate lacinia. Aenean mattis posuere augue ac eleifend. Nullam luctus tellus in tortor luctus laoreet.
                p condimentum ex. In in est et tellus lacinia dignissim. Maecenas pharetra tincidunt diam, quis varius odio porta quis. Aenean fermentum in nunc sit amet vehicula.
    .listado-iconos
        .container.mt-5.py5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam ut aliquam purus, in sagittis dui. Nam ultrices placerat viverra. Aliquam aliquet est augue, ac pharetra nisl tincidunt non. Curabitur vel lobortis est.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nullam ut aliquam purus, in sagittis dui. Nam ultrices placerat viverra. Aliquam aliquet est augue, ac pharetra nisl tincidunt non. Curabitur vel lobortis est.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Nullam ut aliquam purus, in sagittis dui. Nam ultrices placerat viverra. Aliquam aliquet est augue, ac pharetra nisl tincidunt non. Curabitur vel lobortis est.